/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.page{
  font-family: var(--page-font-family), sans-serif;
  font-size: 18px;
}
.accented-background{
  background-color: var(--color-bg-subtitle);
}
/*.h2-title{
  color: var(--color-title-text);
  font-size: var(--font-size-main);
}
.color-fonts-subtitle{
  color: var(--color-subtitle-text);
  font-weight: --bold-text;
  font-size: var(--font-size-main);
}
.color-fonts-subtitle-h4{
  color: var(--color-subtitle-text);
  font-weight: 400;
  font-size: var(--font-size-main);
  margin-top: 20px;
}
.bold-black{
  color: var(--color-subtitle-text);
  font-size: var(--bold-text);
  margin-top: 20px;
} */