/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* цвет текста */
  --color-text-no-focus: #db00ff;
  --color-content-text: #f1b2ce;
  --color-subtitle-text: #000028;
  --color-title-text: #ff0070;
  --color-link: #f1b2ce;

  /* цвет теней и заднего фона*/
  --color-decorative-rec-nav-line: #ff0070;
  --color-shadow-text-no-focus: #ff0070;
  --color-bg-subtitle: #ff0070;

  --bg-main-image: url(../images/cover-image-dark.png);
  --bg-main-color: #000028;

  /* hover focus*/
  --color-decoretive-status: #ff007066;

  /* шрифты*/
  --page-font-family: "IBM Plex mono", monospace;
  --bold-text: 700;
  --font-size-main: 18px;

  --accent-heading-fs-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --accent-heading-fs-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
